body
{
    color:rgb(0, 255, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 58, 58);
}

#cabecera
{
    /* background: rgb(0, 0, 0); */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 62%, rgba(0,176,223,1) 95%, rgba(0,212,255,1) 100%);


    color: rgb(13, 255, 0);
    margin: 0;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    box-shadow: -1px 15px 34px -4px rgba(0,0,0,0.41);
    -webkit-box-shadow: -1px 15px 34px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: -1px 15px 34px -4px rgba(0,0,0,0.41);

}

#cabecera #tagline{
    font-weight: normal;
    font-size: 0.8em;
    margin: 0 0 0 1em;
    color: rgb(255, 0, 0);

}

#laptop-logo{
    padding: 0,5em;
    max-height: 150px;
    /* max-width: 200px; */
    object-fit: contain;
    background: radial-gradient(circle, rgba(0,255,42,0.8575805322128851) 4%, rgba(223,0,0,0) 22%);
}

#container
{
    width: 90%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#footer{

    color:rgb(0, 255, 0);
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, rgba(223,0,0,0) 50%, rgba(0,255,42,0.8575805322128851) 100%);
}